<!--PRELOADER-->
<div class="preloader" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
</div>

<!--CONTAINER-->
<div class="container pt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="h2">Customer Management Software</div>
        <button class="btn btn-primary" (click)="addCustomer(storeCustomer)">Add Customer <i class="bi bi-plus"></i></button>
    </div>
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Contact Number</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-items-center" *ngFor="let customer of customers">
                <td class="align-middle">{{customer.id}}</td>
                <td class="align-middle">{{customer.first_name}}</td>
                <td class="align-middle">{{customer.last_name}}</td>
                <td class="align-middle">{{customer.email}}</td>
                <td class="align-middle">{{customer.contact_number}}</td>
                <td class="text-end">
                    <button class="btn btn-primary mx-1" (click)="showCustomer(customer.id)">View</button>
                    <button class="btn btn-warning mx-1" (click)="editCustomer(customer.id)">Edit <i class="bi bi-pencil"></i></button>
                    <button class="btn btn-danger mx-1" (click)="deleteCustomer(destroyCustomer, customer)">Delete <i class="bi bi-trash"></i> </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--DELETE CUSTOMER MODAL-->
<ng-template #destroyCustomer let-modal>
    <app-modal-delete-customer [customer]="selectedCustomer" (customerDeleted)="onCustomerDeleted()"/>
</ng-template>

<!--ADD CUSTOMER MODAL-->
<ng-template #storeCustomer let-modal>
    <app-modal-add-customer (customerAdded)="onCustomerAdded()"/>
</ng-template>



<app-toast/>

