<!--PRELOADER-->
<div class="preloader" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
</div>

<div class="container pt-4">
    <div class="h2">Customer Information</div>
    <div class="row pt-4">
        <div class="col-lg-12 col-md-12 col-sm-12">
            First Name: {{customer.first_name}}<br>
            Last Name: {{customer.last_name}}<br>
            Email: {{customer.email}}<br>
            Contact Number: {{customer.contact_number}}
        </div>
    </div>
</div>

